<div class="row">
  <div class="col-md-12">
    <button id="createButton" class="btn btn-info" ng-click="root.showNewArticleWindow = true">+ Create New Button</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="articleInputForm" class="row" ng-show="root.showNewArticleWindow">
      <form role="form" ng-submit="add.addArticle()">
        <fieldset class=form-group>
          <input type="text" ng-model="article.title" class="form-control" placeholder="article title" required>
        </fieldset>
        <button type="submit" class="btn btn-primary" value="Add">Submit</button>
        <button type="button" class="btn btn-default" ng-click="root.showNewArticleWindow = false">Cancel</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="articleRow" class="row" ng-repeat="article in articles | filter:root.article | orderBy: order">
      <div class="posts">
          <div id="articleText">
            <div>{{article.title}}</div>
            <button class="btn btn-success" ng-model="articles" ng-click="upVote(article)"> Do it. </button>
          </div>
          <!-- <div>{{article.rating}}</div> -->
          <!-- <div>{{article.date}}</div> -->
          <div>Last Completed: {{article.comments[article.comments.length-1]}}</div>
          <div>{{article.comments}}</div>
          <button type="button" class="btn btn-default buttonOutline pull-right" ng-click="removeArticle(article)">Delete Button</button>



    </div>
  </div>
  </div>
</div>
